<!DOCTYPE html>
<html>
  <head>
    <title>✂️ Background Remover</title>
    <style>
      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .drop-zone {
        border: 2px dashed #ccc;
        padding: 20px;
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .drop-zone.dragover {
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <div id="dropZone" class="drop-zone">
      <h1>Background Remover</h1>
      <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input id="fileInput" type="file" name="file" />
        <input id="rmButton" type="submit" value="remove" />
        <div id="loading" style="display: none">Loading...</div>
        <img id="preview" style="display: none" />
      </form>
      <button id="download-button" style="display: none">Download</button>
    </div>

    <script>
      let dropZone = document.getElementById("dropZone");
      let fileInput = document.getElementById("fileInput");
      let uploadForm = document.getElementById("uploadForm");
      let rmButton = document.getElementById("rmButton");

      dropZone.addEventListener("click", function () {
        if (e.target.id !== "rmButton") {
          fileInput.click();
        }
      });

      let selectedFile;

      fileInput.addEventListener("change", function (e) {
        if (!fileInput.files.length) {
          return;
        }

        selectedFile = fileInput.files[0];
      });

      dropZone.addEventListener("dragover", function (e) {
        this.classList.add("dragover");
      });

      dropZone.addEventListener("dragleave", function (e) {
        this.classList.remove("dragover");
      });

      dropZone.addEventListener("drop", function (e) {
        e.preventDefault();
        e.stopPropagation();
        this.classList.remove("dragover");

        let file = e.dataTransfer.files[0];
        fileInput.files = e.dataTransfer.files;
        uploadForm.submit();
      });

      rmButton.addEventListener("click", function (e) {
        e.preventDefault();
        if (selectedFile) {
          // Show the loading indicator
          document.getElementById("loading").style.display = "block";

          // Create a FormData object and append the file
          let formData = new FormData();
          formData.append("file", selectedFile);

          fetch("/", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.blob())
            .then((blob) => {
              // Hide the loading indicator
              document.getElementById("loading").style.display = "none";

              // Create a download link and click it
              let url = window.URL.createObjectURL(blob);

              // Show the image preview
              let preview = document.getElementById("preview");
              preview.src = url;
              preview.style.display = "block";

              // Show the download button
              let downloadButton = document.getElementById("download-button");
              downloadButton.style.display = "block";
              downloadButton.dataset.blobUrl = url;
              downloadButton.addEventListener("click", function () {
                // Create a download link and click it
                let a = document.createElement("a");
                a.href = url;
                a.download = "_rmbg.png";
                a.click();
              });
            })
            .catch((error) => {
              // Hide the loading indicator
              document.getElementById("loading").style.display = "none";

              console.error(error);
            })
            .finally(() => {
              fileInput.value = "";
              selectedFile = null;
            });
        }
      });
    </script>
  </body>
</html>
